/* -------- keyframes ------- */

@keyframes heroContentSlideIn {
	from {
		transform: translateX(96%);
	}
	to {
		transform: translateX(0);
	}
}

/* -------- home hero -------- */

#home-hero {
	background-image: url('/img/building.jpg');
	/* Photo by Juhasz Imre from Pexels */
	background-position: center;
	background-size: cover;
	height: 65vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

#home-hero-content-wrapper {
	background: rgba(43, 92, 116, 0.9);
	height: 50vh;
	margin-left: 1.5rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	animation: heroContentSlideIn 1s ease-in;
}

#home-hero-content {
	margin: auto 1rem;
	height: auto;
	color: #fff;
}

#home-hero-content h1,
#home-hero-content h2 {
	font-size: 2.2rem;
}

#home-hero-content h2 {
	margin-bottom: 1rem;
}

#home-hero-content p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
