/* -------- keyframes ------- */

@keyframes heroContentSlideIn {
	from {
		transform: translateX(96%);
	}
	to {
		transform: translateX(0);
	}
}

/* -------- home hero -------- */

#home-hero {
	background-image: url('/img/building.jpg');
	/* Photo by Juhasz Imre from Pexels */
	background-position: center;
	background-size: cover;
	height: 65vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

#home-hero-content-wrapper {
	background: rgba(43, 92, 116, 0.9);
	height: 50vh;
	margin-left: 0.8rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	animation: heroContentSlideIn 1s ease-in;
}

#home-hero-content {
	margin: auto 1rem;
	height: auto;
	color: #fff;
}

#home-hero-content h1,
#home-hero-content h2 {
	font-size: 2.3rem;
}

#home-hero-content h2 {
	margin-bottom: 1rem;
}

#home-hero-content p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

/* ----- Practices ------ */

#practices {
	padding-bottom: 1rem;
}

#practices h2 {
	padding: 0.8rem 1.5rem;
	background: rgb(226, 255, 253);
	font-size: 1.5rem;
}

#practices ul {
	list-style: none;
}

#practices li {
	padding: 1.3rem 1.5rem 0 1.5rem;
}

#practices li h3 {
	font-size: 1.4rem;
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
}

#practices li h3 i {
	margin-right: 1rem;
	margin-top: 0.35rem;
	font-size: 0.5rem;
	color: rgb(107, 226, 204);
}

#practices li p {
	margin-left: 1.7rem;
	padding: 1rem 0;
}

/* ------ Our Vision ------ */

#vision {
	background: rgb(1, 57, 85);
	color: #fff;
	padding: 1.5rem;
}

#vision h2 {
	padding: 1.5rem 1.5rem 2rem 1.5rem;
	text-align: center;
	font-size: 2rem;
}

#vision p {
	padding: 0.5rem 1rem;
}

/* --------- Attorneys -------- */

#attorneys #image-block {
	height: 200px;
	/* Photo by rawpixel.com from Pexels */
	background-image: url('/img/hand-shake.jpg');
	background-position: center;
	background-size: cover;
}

#attorney-content {
	background: rgb(226, 255, 253);
}

#attorney-content h2 {
	padding: 3rem 0 0 0;
	text-align: center;
}
