*,
body {
	padding: 0;
	margin: 0;
}

/* -------- keyframes --------- */

@keyframes backgroundBlack {
	from {
		background-color: rgba(0, 0, 0, 0);
	}
	to {
		background-color: rgba(0, 0, 0, 0.6);
	}
}

@keyframes backgroundNone {
	from {
		background-color: rgba(0, 0, 0, 0.6);
	}
	to {
		background-color: rgba(0, 0, 0, 0);
	}
}

@keyframes slideIn {
	from {
		transform: translateX(80vw);
	}
	to {
		transform: translateX(0vw);
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(80vw);
	}
}

/* --------- Nav Bar -------- */

header {
	width: 100%;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #242424;
	height: 60px;
	position: fixed;
}

#logo {
	padding: 0.5rem 1rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	max-width: 150px;
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

#logo i {
	margin-right: 0.5rem;
	font-size: 2rem;
	color: #0080ff;
}

#hamburger-icon {
	padding: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.5rem;
	cursor: pointer;
}

#close-icon {
	padding: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 900;
	font-size: 2.5rem;
	font-weight: 800;
	cursor: pointer;
}

.mobile-menu-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	display: none;
	z-index: 990;
}

.mobile-menu {
	height: 100vh;
	background: #fff;
	border-left: 1px solid #242424;
	float: right;
}

.mobile-menu ul {
	text-decoration: none;
	list-style: none;
	padding: 5rem 0 3rem 0;
}

.mobile-menu ul li {
	padding: 1rem 2rem;
}

.mobile-menu ul li a {
	text-decoration: none;
	font-size: 1.3rem;
	color: black;
	font-family: 'Quattrocento', serif;
}

.mobile-menu ul li a:hover,
#current {
	color: #0080ff;
}

/* ------- Media Queries ------- */
